@mixin before_circle {
  &:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: #c4740c;
    border-radius: 100%;
    z-index: -1;
    top: -31%;
    left: 0;
  }
}
